header {
    background-color: #000ec0;
    height: 60px;
}

body{
    background-color: #6bb0ff;
}

.loginContent {
    margin-top: 80px;
    text-align: center;
}

a {
    background-color: #000ec0;
    height: 20px;
    width: 40px;
    line-height: 60px;
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

